<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dz-shop-appweb</display-name>
  
   <!-- 配置springmvc前端控制器 -->
  <servlet>
	    <servlet-name>dz-shop-appweb</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	    	<!--加载Spring XML配置文件 --> 
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/spring-*.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
  
      <!-- 配置字符集过滤器 -->  
    <filter>  
        <filter-name>encodingFilter</filter-name>  
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
        <init-param>  
              <param-name>encoding</param-name>  
              <param-value>UTF-8</param-value>  
        </init-param>  
        <init-param>  
             <param-name>forceEncoding</param-name>  
             <param-value>true</param-value>  
         </init-param>  
    </filter>  
      
    <filter-mapping>  
         <filter-name>encodingFilter</filter-name>  
         <url-pattern>/*</url-pattern>  
    </filter-mapping>
  
	<!-- 第一种:*.action访问以*.action结尾由DispatcherServlet进行解析 -->
	<!-- 第二种:/ 所有访问都由DispatcherServlet进行解析，对于静态页面的解析配置不让DispatcherServlet进行解析 -->
	<!-- 第三种:/*这种方式不对，转发到jsp时仍会由DispatcherServlet解析，不能通过jsp找到handler，会报错 -->
	<servlet-mapping>
	    <servlet-name>dz-shop-appweb</servlet-name>
	    <url-pattern>/</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>